@import '../../../assets/scss/base/pallete';
@import '../../../assets/scss/base/globals';
@import '../../../assets/scss/base/mixmins';
@import '../../../assets/scss/base/utilities';

.not-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin-bottom: 2rem;
    }
}