<section class="container container--center my-4">
    <h1 class="text-center">Nuestro empleos</h1>

    <div class="my-2">
        <div class="card">
            <div class="card__title">
                <span class="card__job">Motorista</span>
                <span class="card__price">$400.00</span>
            </div>
            <div class="card__content">
                <div class="card__description">
                    <span>Descripción del puesto</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione officia quisquam nostrum, enim quasi voluptatem mollitia explicabo, perspiciatis debitis doloremque nesciunt facere harum ipsum suscipit tempora dicta eveniet nobis facilis?</p>
                </div>

                <div class="card__functions">
                    <span>Funciones</span>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__title">
                <span class="card__job">Mecánico</span>
                <span class="card__price">$500.00</span>
            </div>
            <div class="card__content">
                <div class="card__description">
                    <span>Descripción del puesto</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio distinctio maxime asperiores molestiae itaque eveniet quae ratione ab quaerat obcaecati dolor suscipit rerum praesentium aut, repellat impedit quis quisquam. Similique laboriosam inventore voluptate illum iste nulla ipsum, ullam voluptates sint tempora, atque facilis eius. Reiciendis aliquid possimus mollitia debitis exercitationem fugiat nulla molestias accusamus quasi, unde blanditiis numquam deserunt rem nobis odio recusandae ipsa ad? Blanditiis, odit vero quia doloremque ipsum corrupti nemo est. Omnis?</p>
                </div>

                <div class="card__functions">
                    <span>Funciones</span>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>