<section class="container container--center">
    <h1 class="text-center my-4">
        {{option | titlecase}} | <span>$20.00</span>
    </h1>

    <img [src]="img" alt="Lavado {{option}}" loading="lazy" rel="no-referrer">
    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint corrupti maiores vero aspernatur possimus quisquam amet ut laudantium cum. Pariatur quos reprehenderit cumque esse eum commodi quasi at officiis sapiente, perspiciatis inventore dicta laborum quia vitae minima distinctio veniam voluptatum, nostrum illum voluptatibus. Atque possimus suscipit delectus? Soluta, perspiciatis vero.</p>
</section>