@import '../../../assets/scss/base/pallete';
@import '../../../assets/scss/base/globals';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: darken($accet, 20);
    color: $black;

    a {
        color: $black;
        font-weight: 700;
    }
}